 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/2332800-340919-_AM_0102.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 707px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 27px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 622px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 20px -10px 0 30px;
}

.u-section-1 .u-text-5 {
  width: 225px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 416px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-icon-2 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
  width: 64px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 622px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 16px;
}

.u-section-1 .u-text-9 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 14px;
}

.u-section-1 .u-text-10 {
  margin: 20px 14px 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 14px 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 261px auto 0 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 622px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-14 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 261px auto 0 30px;
}

.u-section-1 .u-text-15 {
  margin: 51px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 211px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 513px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 372px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1172px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1094px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1326px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1273px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}